body {
  background-color: rgb(255, 235, 235);
}
h1 {
  color: rgb(255, 255, 255);
  font-family: sans-serif;
}
p {
  color: rgb(255, 255, 255);
  font-family: sans-serif;
  font-size: 22px;  
} 

ul
{
    
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ff2d2d;
}


li
{
    float: left;
    width: 14%;
    list-style-type: none;
    
}

    li a {
        display: block;
        padding: 10%;
        color: rgb(255, 255, 255);
        text-decoration: none; /*removes underlining*/
        font-family: sans-serif;
        font-size: 28px;
    }

li a:hover
{
    color: rgb(255, 206, 206);
}

*{
  margin:0;
  padding:0
} /* browser adds padding and margins for some reason */

.middlebox{
  height: 400px;
  width: 800px;
  background: #ff5959;
  border: 6px solid red;

  position: fixed;
  top: 40%;
  left: 40%;
  margin-top: -100px;
  margin-left: -200px;
}

.middleboxinfo{
  height: 600px;
  width: 1200px;
  background: #ff5959;
  border: 6px solid red;

  position: fixed;
  top: 30%;
  left: 28%;
  margin-top: -100px;
  margin-left: -200px;
}

.middleboxcontactleft{
  height: 400px;
  width: 600px;
  background:rgb(255, 50, 50);
  border: 6px solid rgb(255, 50, 50);

  position: fixed;
  top: 40%;
  left: 30%;
  margin-top: -100px;
  margin-left: -200px;
}

.middleboxcontactright{
  height: 400px;
  width: 600px;
  background: #ff5959;
  border: 6px solid rgb(255, 50, 50);

  position: fixed;
  top: 40%;
  left: 60%;
  margin-top: -100px;
  margin-left: -200px;
}

.catagorylist
{
  
  float:none;
  display: block;
  padding: 5%;
  color: rgb(255, 255, 255);

  font-family: sans-serif;
  font-size: 22px;
}

.productboxleft{
  height: 400px;
  width: 400px;
  background:rgb(255, 88, 88);
  border: 6px solid rgb(255, 50, 50);

  position: absolute;
  top: 25%;
  left: 32%;
  margin-top: -100px;
  margin-left: -200px;
}

.productboxright{
  height: 400px;
  width: 400px;
  background:rgb(255, 88, 88);
  border: 6px solid rgb(255, 50, 50);

  position: absolute;
  
  top: 25%;
  left: 65%;
  margin-top: -100px;
  margin-left: -200px;
}

.productboxinfo{
  height: 600px;
  width: 600px;
  background: #ff5959;
  border: 6px solid red;

  position: fixed;
  top: 23%;
  left: 44%;
  margin-top: -100px;
  margin-left: -200px;
}
